<div class="modal-dialog">
  <div class="modal-content">
    <form #f="ngForm" [formGroup]="notificationSettings" (ngSubmit)="saveNotifications(f)" novalidate>
      <div class="modal-header">
          <h3>Notification Settings</h3>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="col-sm-6 control-label">Task Notifications</label>
          <div class="btn-group" [(ngModel)]="User.receive_task_notifications" [formControl]="taskControl">
            <label
              [classList]="getClassList"
              ngDefaultControl
              (click)="changeItem('receive_task_notifications', true)"
            >
              <i class="glyphicon glyphicon-ok"></i>
            </label>
            <label
              [classList]="getClassList1"
              ngDefaultControl
              (click)="changeItem('receive_task_notifications', false)"
            >
              <i class="glyphicon glyphicon-remove"></i>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-6 control-label">Feedback Notifications</label>
          <div class="btn-group" [(ngModel)]="User.receive_feedback_notifications" [formControl]="feedbackControl">
            <label
              [classList]="getClassList2"
              ngDefaultControl
              (click)="changeItem('receive_feedback_notifications', true)"
            >
              <i class="glyphicon glyphicon-ok"></i>
            </label>
            <label
              [classList]="getClassList3"
              ngDefaultControl
              (click)="changeItem('receive_feedback_notifications', false)"
            >
              <i class="glyphicon glyphicon-remove"></i>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-6 control-label">Portfolio Notifications</label>
          <div class="btn-group" [(ngModel)]="User.receive_portfolio_notifications" [formControl]="portfolioControl">
            <label
              [classList]="getClassList4"
              ngDefaultControl
              (click)="changeItem('receive_portfolio_notifications', true)"
            >
              <i class="glyphicon glyphicon-ok"></i>
            </label>
            <label
              [classList]="getClassList5"
              ngDefaultControl
              (click)="changeItem('receive_portfolio_notifications', false)"
            >
              <i class="glyphicon glyphicon-remove"></i>
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer text-right">
        <button mat-dialog-close class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
