<button class="mat-focus-indicator mat-menu-item ng-tns-c245-1" type="button" (click)="openModalWithClass(counter)">
  Notifications Text
</button>
<!-- <button class="btn btn-outline-secondary" type="button" (click)="openModal(counter)">默认大小模态框</button> -->
<ng-template #counter>
  <div class="modal-header">
      <h3>Notification Settings</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="col-sm-6 control-label">Task Notifications</label>
      <div class="btn-group">
        <label
          ngDefaultControl
          [classList]="getClassList"
          [(ngModel)]="user.receive_task_notifications"
          (click)="changeItem('receive_task_notifications', true)"
        >
          <i class="glyphicon glyphicon-ok"></i>
        </label>
        <label
          ngDefaultControl
          [classList]="getClassList1"
          [(ngModel)]="user.receive_task_notifications"
          (click)="changeItem('receive_task_notifications', false)"
        >
          <i class="glyphicon glyphicon-remove"></i>
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-6 control-label">Feedback Notifications</label>
      <div class="btn-group">
        <label
          class="btn btn-default"
          ngDefaultControl
          [classList]="getClassList2"
          [(ngModel)]="user.receive_feedback_notifications"
          (click)="changeItem('receive_feedback_notifications', true)"
          tabindex="0"
        >
          <i class="glyphicon glyphicon-ok"></i>
        </label>
        <label
          class="btn btn-default"
          ngDefaultControl
          [classList]="getClassList3"
          [(ngModel)]="user.receive_feedback_notifications"
          (click)="changeItem('receive_feedback_notifications', false)"
          tabindex="0"
        >
          <i class="glyphicon glyphicon-remove"></i>
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-6 control-label">Portfolio Notifications</label>
      <div class="btn-group">
        <label
          class="btn btn-default"
          ngDefaultControl
          [classList]="getClassList4"
          [(ngModel)]="user.receive_portfolio_notifications"
          (click)="changeItem('receive_portfolio_notifications', true)"
          tabindex="0"
        >
          <i class="glyphicon glyphicon-ok"></i>
        </label>
        <label
          class="btn btn-default"
          ngDefaultControl
          [classList]="getClassList5"
          [(ngModel)]="user.receive_portfolio_notifications"
          (click)="changeItem('receive_portfolio_notifications', false)"
          tabindex="0"
        >
          <i class="glyphicon glyphicon-remove"></i>
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer text-right">
    <input type="button" (click)="formSubmit()" class="btn btn-primary" value="Save" />
  </div>
</ng-template>
